<div class="jumbo">
  {{#each gifsList as |gif|}}
    <article class='img container'>
      <h2>{{gif.data.title}}</h2>
      <div class='gif img'>
        <img class='gif' src="{{gif.data.url}}">
      </div>
    </article>
  {{/each}}
</div>
