html * {
  color: #ffffff;
}

.sidebar {
  height: 100%;
}

body {
  background-color: #000000;
}

h2 {
  color: #ffffff;
}

.pinkify-title {
  color: #FF7775;
}

.ham-menu {
  display: inline-block;
  margin: 1.5em 0;
  padding: .5em;
  vertical-align: top;
}

#site-title {
  display: inline-block;
  font-family: Roboto;
  font-size: 2.75em;
}

.nav-bar {
  margin-top: .5em;
  width: 100%;
}

.pusher {
  height: 100%;
}
