@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    url('https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2') format('woff2');
}

html * {
  color: #ffffff;
}

.container {
  height: 100%;
}

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

.ember-view.sidebar {
  background-color: #FF7775;
}

h2 {
  color: #ffffff;
}

.pinkify-title {
  color: #FF7775;
}

.ham-menu.white-menu {
  margin: 1em 0 0 0;
  padding: 1em 0 1em 0;
}

.sidebar {
  height: 100vh;
}

.sidebar-title {
  margin: .5em 0 .5em 0;
}

.sidebar-alignment {
  margin-left: 1em;
}

.list-items {
  padding: 0;
}

.list-item {
  font-size: 1.25em;
  list-style-type: none;
  padding: .5em 0 .5em 0;
}

.ham-menu.pink-menu {
  display: inline-block;
  margin: 1.5em 0;
  padding: .5em;
  vertical-align: top;
}

#site-title {
  display: inline-block;
  font-size: 2.75em;
}

.nav-bar {
  width: 100%;
}

.pusher {
  height: 100%;
  margin: 0 0 0 1em;
}

.gif-container {
  height: 100%;
}

.gif-media {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 75vh;
  text-align: center;
}

.gif {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 75vh;
  cursor: pointer;
}

.gif-title {
  height: auto;
  text-align: center;
  width: 100%;
}

button.gif-copy {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: black;
  cursor: pointer;
}

.gif-copy-popup {
  height: auto;
  text-align: center;
  width: 100%;
}

.iframe {
  left: 0;
  max-height: 75vh;
  max-width: 100%;
  position: absolute;
}

.iframe-click {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.no-gif {
  height: 200px;
}
