<div class='container'>
  <div class='sidebar context'>
    {{#ui-sidebar inverted vertical menu ui_context=".sidebar.context"}}
      <div class='sidebar-alignment'>
        <img class='ham-menu white-menu' src="assets/images/hamburger-menu-white.svg">
        <h2 class='sidebar-title'>SUBREDDITS:</h2>
        <ul class='list-items' {{action 'closeSidebar'}}>
          <li class='list-item'>
            {{#link-to 'gif' 'gifs'}}Gifs{{/link-to}}<br>
          </li>
          <li class='list-item'>
            {{#link-to 'gif' 'reactiongifs'}}Reaction Gifs{{/link-to}}<br>
          </li>
          <li class='list-item'>
            {{#link-to 'gif' 'endlessgifs'}}Endless Gifs{{/link-to}}<br>
          </li>
          <li class='list-item'>
            {{#link-to 'gif' 'puppygifs'}}Puppy Gifs{{/link-to}}<br>
          </li>
          <li class='list-item'>
            {{#link-to 'gif' 'catgifs'}}Cat Gifs{{/link-to}}<br>
          </li>
          <li class='list-item'>
            {{#link-to 'gif' 'gifrecipes'}}Gif Recipes{{/link-to}}<br>
          </li>
          <li class='list-item'>
            {{#link-to 'gif' 'combinedgifs'}}Combined Gifs{{/link-to}}<br>
          </li>
        </ul>
      </div>
    {{/ui-sidebar}}

    <div class='pusher'>
      <div class='nav-bar'>
        <img class='ham-menu pink-menu' src="assets/images/hamburger-menu-pink.svg" {{action "toggle"}}>
        <h2 id='site-title'>GIF <span class='pinkify-title'>YOU DARE</span></h2>
      </div>
      <div class='gif-container'>
        {{outlet}}
      </div>
    </div>
  </div>
</div>
