<div class="jumbo">
  {{#each images as |gif|}}
      {{#if gif.data}}
        <article class='img container'>
          <div class='gif media'>
            {{isGif gif.data.url 'gif'}}
          </div>

          <h2>{{gif.data.title}}</h2>
        </article>
      {{/if}}
  {{/each}}
</div>
