<h2>SUBREDDITS:</h2>
<div class="jumbo">
  {{#link-to 'gif' 'gifs'}}Gifs{{/link-to}}<br>
  {{#link-to 'gif' 'reactiongifs'}}Reaction Gifs{{/link-to}}<br>
  {{#link-to 'gif' 'endlessgifs'}}Endless Gifs{{/link-to}}<br>
  {{#link-to 'gif' 'puppygifs'}}Puppy Gifs{{/link-to}}<br>
  {{#link-to 'gif' 'catgifs'}}Cat Gifs{{/link-to}}<br>
  {{#link-to 'gif' 'gifrecipes'}}Gif Recipes{{/link-to}}<br>
  {{#link-to 'gif' 'combinedgifs'}}Combined Gifs{{/link-to}}<br>
</div>
