<div class="jumbo">
  {{#if currentGif.data}}
    <article class='img container'>

      <div class='gif-media' {{action "nextGif" currentGif}}>
        {{isGif currentGif.data.url 'gif'}}
      </div>
      <h2 {{action "copyUrl" currentGif.data.url}}>{{currentGif.data.title}}</h2>
    </article>
  {{/if}}
</div>
