<div class="jumbo">
  {{#if images.firstObject.data}}
    <article class='img container'>

      <div class='gif-media' {{action "nextGif" images.firstObject}}>
        {{isGif images.firstObject.data.url 'gif'}}
      </div>
      <h2 {{action "copyUrl" images.0.data.url}}>{{images.0.data.title}}</h2>
    </article>
  {{/if}}
</div>
